@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* html {


} */

body {
  /* color: greenyellow;
  text-shadow: 0 0 15px greenyellow; */
  color: rgb(196, 240, 255);
  /* text-shadow: 0 0 15px rgb(196, 240, 255); */
  /* text-shadow: 0 0 15px rgb(53, 137, 1); */

  font-family: "Azeret Mono", monospace;
  font-weight: 400;

  /* padding: 2.5%; */
  overflow: hidden;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100px;
  overflow-x: hidden;

  font-size: 72px;
  font-weight: bold;
}

.marqueeTrack {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.topHalf {
  height: 45vh;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
}

.bottomHalf {
  height: 45vh;
  padding: 2.5%;
}

.clockApp {
  width: 45vw;
  height: 100%;
  float: left;
}

.clockApp > h2 {
  font-weight: 300;
}

.clockDate {
  font-weight: 300;
  margin-top: 0;
}

.clockTime12hr {
  font-weight: 100;
  font-size: 108px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.clockTime24hr {
  font-weight: 200;
  font-size: 56px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.weatherApp {
  width: 45vw;
  height: 100%;
  float: right;
  text-align: right;
}

.weatherApp > h1 {
  font-weight: 200;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.weatherApp > h2 {
  font-weight: 300;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#weatherForecastTable {
  margin-top: 40px;
}

#weatherForecastTable > tr,
td {
  padding-left: 15px;
  font-size: 24px;
  font-weight: 200;
}

.weatherErrorMessage {
  color: rgb(255, 108, 108);
}

.countDownTimers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100%);
}

.countDownTimers > div {
  font-size: 28px;
  font-weight: 200;
}
